// autostart
// spawn-at-startup "noctalia"
spawn-at-startup "quickshell"
spawn-at-startup "vicinae" "server"
spawn-at-startup "awww-daemon"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "/usr/bin/gnome-keyring-daemon" "--start" "--components=secrets,pkcs11"


// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
